* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #2f410a;
}

.to-do-container {
  min-height: 50px;
  max-width: 400px;
  /* background-color: red; */
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 2px 2px 5px 5px #00000030, -2px -2px 5px 5px #00000030;
}

.input-task-container {
  height: 50px;
  width: 100%;
}

.input-task {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  padding: 0 20px;
  outline: none;
}

.list-container {
  min-height: 100%;
  width: 100%;
  background-color: #00807c;
  list-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.task-list {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: dotted grey 2px;
  padding: 10px 20px;
  position: relative;
}

.task-content {
  display: inline-block;
}

.unchecked {
  position: absolute;
  right: 40px;
  top: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.unchecked:hover{
  color: greenyellow;
}

.checked {
  display: none;
}

.completed .task-content {
  text-decoration: line-through greenyellow;
  color: greenyellow;
  font-weight: 700;
}

.completed .checked {
  display: block;
  position: absolute;
  right: 40px;
  top: 10px;
  cursor: pointer;
  color: greenyellow;
  transition: .3s ease;
}


.completed .unchecked {
  display: none;
}


.trash {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.trash:hover{
  color: red;
}